* { margin: 0; padding: 0; border: 0; font-size: 100%; }
* {font-family: 'Roboto', sans-serif;}

body {
    background-color: lavender;
    background-repeat: repeat-x;
    background-image: url(../image/owlheader.jpg);
    background-size: 250px;
    width: 100%;
}

.my-container {
    text-align: center;
    background-color: #81C9DC;
	border: 1px solid blue;
    padding: 10px
      }
h2{
    color: #6495ED;
}

h3{
	color: #6495ED;
	text-decoration: underline;
	font-size: 25px;
}
