


body {
  background-color: lightblue;
}

h2 {
  color: white;
}

h2 {
  font-family: <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap" rel="stylesheet">;
  font-size: 25px;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

my-id{ align-items: center; }

.index-h2-Content-Creator {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

p {text-align: center;

}