body {
    background-color: lavender;
    background-repeat: repeat-x;
    background-image: url(../image/owlheader.jpg);
    background-size: 250px;
    width: 75%;
}

h2{
    color: #6495ED;
}

h3{
	color: #6495ED;
	text-decoration: underline;
	font-size: 25px;
}
